@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  background-color: lightgray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h100vh{
  height: 100vh;
}

.border-box{
  box-sizing: border-box;
}


.divider {
  //margin-left: 0.25rem;
  color: black;
}

.pointer{
  cursor: pointer;
}

.height300{
  height: 200px;
}

.user-form-control {
  display: block;
  width: 100%;
  //height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.label-width{
  width: 150px;
}

select {
  overflow-y: auto;
}

.go-button{
  position: absolute;
  font-weight: bold;
  right: 25px;
  top: 25px;
  width: 25px;
  height: 25px;

}



.parent {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Or whatever */
}
.parent-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.child {
  text-align: center;
  width: 100px;  /* Or whatever */
  background: red;
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}
